<%! from django.utils.translation import ugettext as _ %>
        <section class="research-info">
          <h2>${_('Our Research Community')}</h2>
          <p>${_('Stanford University pursues the science of learning. Online learners are important participants in that pursuit. The information we gather from your engagement with our instructional offerings makes it possible for faculty, researchers, designers and engineers to continuously improve their work and, in that process, build learning science.')}</p>
          <p>${_('By registering as an online learner, you are also participating in research...')} <br /><a href="/tos">${_('Read Terms of Service and Privacy Policy.')}</a></p>
        </section>
